#menuNav{
    display: flex;
    justify-content: space-between;
    border: black 1px solid;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(172, 172, 172);
    margin: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.buttonNav{
    height: 30px;
    width: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(58, 117, 194);
    border-radius: 10px 0px 10px 0px;
}
a{
    text-decoration: none;
}
.linkNav{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#noticias{
    display: flex;
    justify-content: space-between;
}
#rodape{
    background-image: url(./imagens/rodape.png);
}
#imgNoticia{
    height: 150px;
    width: 150px;
}
.boxNoticia{
    border: black 1px solid;
    text-align: center;
    padding: 5px;
}
#ladoDireito{
    float: right;
    width: 20%;
    border: black 1px solid;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
#ladoEsquerdo{
    float: left;
    width: 70%;
}
.imgNoticia2{
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
}
.boxNoticia2{
    border: black 1px solid;
    padding: 10px;
    margin: 5px;
}
#cabecalho{
    background-image: url(./imagens/cabecalho1.png);
    background-size: 300px 100px;
    background-repeat: no-repeat;
    background-position: right;
    height: 100px;
    text-align: center;
    justify-content: center;
    display: flex;
    padding-top: 20px;
    background-color: green;
    color: white;
    font-family: fantasy;
}
.cabecalho{

}
#conteudoNoticia{
    margin: 10px;
}