#menuNav{
    display: flex;
    justify-content: space-between;
    border: black 1px solid;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(172, 172, 172);
    margin: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.buttonNav{
    height: 30px;
    width: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(58, 117, 194);
    border-radius: 10px 0px 10px 0px;
}
a{
    text-decoration: none;
}
.linkNav{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#noticias{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#rodape{
    display: flex;
    justify-content: space-between;
}
.imgNoticia1{
width: 80%;
}
.boxNoticia{
    border: black 1px solid;
    text-align: center;
    padding: 5px;
}
#ladoDireito{
    float: right;
    width: 20%;
    border: black 1px solid;
    text-align: center;
    display: inline-block;
    background-color: rgb(182, 182, 182);
}
#ladoEsquerdo{
    float: left;
    width: 76%;
    padding: 10px;
}
.imgNoticia2{
    max-width: 150px;
    max-height: 150px;
}
.boxNoticia2{
    border: black 1px solid;
    padding: 10px;
    margin: 5px;
}
#imgNoticia {
 padding-left: 15%;
}
p{
    text-align: justify;
}
#conteudoNoticia{
    margin: 10px;
}
.descricaoImagem{
    text-align: center;
}